<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/cities}" th:object="${cityId}" method="post">

    <select name="cityId">
        <option selected="selected" value="">Choose</option>
        <option th:each="city : ${cities}"
                th:value="${city.id}"
                th:text="${city.name}"></option>
    </select>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>