<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/filter}" th:object="${filterForm}" method="post">

    <input type="date" th:value="*{minimumReservationDate}" th:field="*{minimumReservationDate}"/>
    <input type="time" th:value="*{minimumReservationTime}" th:field="*{minimumReservationTime}"/>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

</body>
</html>