<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/filter}" th:object="${filterForm}" method="post">

    <div>
        <span>Minimalny czas rezerwacji</span>
        <input type="date" th:value="${filterDto.minDate}" id="minDate" name="minDate"/>
        <input type="time" th:value="${filterDto.minTime}" id="minTime" name="minTime"/>
    </div>

    <div>
        <span>Maksymalny czas rezerwacji</span>
        <input type="date" th:value="${filterDto.maxDate}" id="maxDate" name="maxDate"/>
        <input type="time" th:value="${filterDto.maxTime}" id="maxTime" name="maxTime"/>
    </div>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

Jak najszybciej, bez znaczenia miejsce i lekarz
W określonym czasie, bez znaczenia miejsce i lekarz

</body>
</html>