<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <span th:text="${clinic != null} ? ${clinic.name} : 'Any'">someValue</span>
    <span th:text="${service.name}"></span>
    <span th:text="${city.name}"></span>

    <form action="#" th:action="@{/summary}" th:object="${summaryForm}" method="post">

        <select th:field="*{doctorId}">
            <option selected="selected" value="">Any</option>
            <option th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.name}"></option>
        </select>

        <select th:field="*{payerId}">
            <option selected="selected" value="">Choose</option>
            <option th:each="payer : ${payers}"
                    th:value="${payer.id}"
                    th:text="${payer.name}"></option>
        </select>

        <input type="hidden" th:value="${clinic != null} ? ${clinic.id} : ''" id="clinicId" name="clinicId"/>
        <input type="hidden" th:value="${service.id}" id="serviceId" name="serviceId"/>
        <input type="hidden" th:value="${city.id}" id="cityId" name="cityId" />

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>