<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/services}" th:object="${serviceId}" method="post">

    <select name="serviceId">
        <option selected="selected" value="">Choose</option>
        <option th:each="service : ${services}"
                th:value="${service.id}"
                th:text="${service.name}"></option>
    </select>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>